body {
    background-color: lightgray;
}

.container {
    border-bottom: 1px solid darkgray;
    background-color: white;
    padding: 15px;
}

.alarmstufe {
    font-size: 1.5em;
    text-align: center;
}

.text-right {
    text-align: right;
}

.map {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

@media print {
  .row {
      page-break-inside: avoid;
  }
    html,
    body {
        font-size: 0.8em;
    }
}
